.dataframe {
  border-collapse: collapse;
  width: 100%;
}

.dataframe th,
.dataframe td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.dataframe thead th {
  background-color: #f2f2f2;
  /* background-color: lightblue; */
}
